
.button1{
  padding: 5px 49px;
  margin:5px;
  background-color: ivory;
  border-radius: 2%;
}
.button2{
  padding: 5px 20px;
  margin:5px;
  background-color: lawngreen;
}
.container{
  background-color: darkgray;
  margin: 10% 10%;
  padding: 5px;
}


